/*---------- Recent Posts ----------*/
.clawyer-widget-post {
	gap: 20px;
	display: flex;
	flex-flow: column;
	.article-inner-wrapper {
		gap: 15px;
		display: flex;
		border: none;
		position: relative;
		border-radius: 10px;
		.post-thumbnail-wrap {
			width: 70px;
			border-radius: 6px;
			.post-thumbnail a img,
			.post-thumbnail a,
			.post-thumbnail {
				height: 100%;
				border-radius: 6px;
			}
			.post-thumbnail a img {
				object-fit: cover;
			}
		}
		.post-thumbnail img,
		.post-thumbnail a {
			width: 100%;
			height: auto;
			border-radius: 5px;
		}
		.entry-wrapper {
			flex: 1;
			padding: 0;
		}
		.entry-title {
			font-size: 16px;
			line-height: 1.2;
			margin-bottom: 0;
			color: $title_color;
			a {
				color: $title_color;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				&:hover {
					color: $primary_color;
				}
			}
		}
	}
	.clawyer-post-meta {
		ul li {
			font-size: 14px;
			padding-bottom: 0;
		}
	}
}
