/*---------- Listing Pagination ----------*/
.rtcl-ajax-pagination-wrap,
.rtcl nav.rtcl-pagination {
	margin-top: 30px;
	border-radius: 6px;
	padding: 12px 10px;
	margin-bottom: 30px;
	border: 1px solid #E0E3E7;
}
.rtcl-ajax-pagination-wrap ul li,
.rtcl nav.rtcl-pagination ul li {
	border: none;
	border-radius: 0;
}

.rtcl nav.rtcl-pagination ul li .page-numbers,
.rtcl-ajax-pagination-wrap ul li span {
	width: 42px;
	height: 42px;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	align-items: center;
	display: inline-flex;
	justify-content: center;
	text-decoration: none;
	transition: all 0.3s;
	color: $title_color;
	border-radius: 50px;
	border: 1px solid #D0D0D0;
}
.rtcl-ajax-pagination-wrap ul li .prev.page-numbers,
.rtcl-ajax-pagination-wrap ul li .next.page-numbers,
.rtcl nav.rtcl-pagination ul li .prev.page-numbers,
.rtcl nav.rtcl-pagination ul li .next.page-numbers {
	padding: 0 0 5px;
	font-size: 1.5rem;
}
.rtcl nav.rtcl-pagination ul li .page-numbers:hover,
.rtcl-ajax-pagination-wrap ul li:hover span,
.rtcl-ajax-pagination-wrap ul li.active span {
	color: #fff;
	border-color: $primary_color;
	background-color: $primary_color;
}
.rtcl nav.rtcl-pagination ul li .page-numbers.current {
	color: #fff;
	border-color: $primary_color;
	background-color: $primary_color;
}
